# Node modules.
node_modules/

# Folder created by NuGet.
**/App_Data/NuGetBackup/

# Visual Studio packages.
/packages/*/

# Visual Studio build artifacts.
bin/
obj/

# Visual Studio solution user options.
*.suo

# Visual Studio project user options.
*.csproj.user

# WebStorm.
.idea

# Temporary test folders.
/source/
/dest/

# Sample website files/folders.
/Website/App_Data/
/Website/bin/
/Website/Config/
/Website/obj/
/Website/Views/
/Website/default.aspx
/Website/Global.asax